/* PRIMARY BUTTON*/
/* parent element to center the buttons */
form > div:last-of-type {
	display: flex !important;
	justify-content: center;
	gap: 1em;
	margin-top: 4em;
}

/* primary button / next*/
.primary_button {
	background: var(--main-button-bg);
	color: var(--main-button-text);
	padding: 0.7em 0;
	border-radius: 3em;
	border: 4px solid var(--main-button-bg);
	font-weight: 700;
	font-size: 0.9em;
	cursor: pointer;
	line-height: center;
	width: 11.5em;
}

/* tertiary button / previous */
.tertiary_button {
	background: var(--background-color);
	color: var(--main-button-bg);
	padding: 0.7em 0;
	border-radius: 3em;
	border: 4px solid var(--main-button-bg);
	font-weight: 700;
	font-size: 0.9em;
	cursor: pointer;
	line-height: center;
	width: 11.5em;
	text-align: center;
	text-decoration: none;
}

/* hovers */
.primary_button:hover,
.tertiary_button:hover {
	opacity: 70%;
}
