/* IMPORT CSS FILES */
@import url("./variables.css");
@import url("./hover.css");
@import url("./acive.css");

/* MOBILE FIRST */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Lato", sans-serif;
	transition: 0.2s ease-in-out;
}

/* HEADER */
header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	padding: 2em 1em;
	color: var(--text-color);
	background-color: var(--sub-bg-color);
	transition: 0.2s ease-in-out;
	margin-bottom: 2.5em;
}

header h1 {
	margin: 1.5em 0 0.5em 0;
}

/* parent container for color mode button */
header div {
	position: absolute;
	right: 2em;
	top: 2em;
}

/* darkmode lightmode button */
#color__mode {
	transition: 0.15s ease-in-out;
	width: 3em;
	height: 3em;
	border-radius: 2em;
	border: 0;
	margin: 0;
	padding: 0;
	appearance: none;
	background-color: var(--main-btn);
	cursor: pointer;
}

#color__mode::after {
	width: 1em;
	height: 2em;
	border-radius: 2em;
	content: "";
	background: var(--sub-bg-color);
	top: 15%;
	right: 15%;
	position: absolute;
	border-radius: 0 1em 1em 0;
}

/* form */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1em 2em 1em;
	gap: 0.5em;
}

form h2 {
	margin-bottom: 1em;
}

label {
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

input {
	margin-top: 0.5em;
	padding: 0.5em 1em;
	border-radius: 5em;
	border: 0.1em var(--btn-text) solid;
}

/* FOR PREVIOUS/NEXT BUTTONS */
.buttons {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 2em;
}

/* previous, next button */
.buttons a {
	transition: 0.1s ease-in-out;
	color: var(--btn-text);
	text-decoration: none;
	padding: 0.5em 1.5em;
	background-color: var(--main-btn);
	border-radius: 2em;
	font-weight: 700;
}

/* secondary a button */
.asecondary {
	background-color: var(--second-btn);
}

/* 	NAV */
nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8em;
	justify-content: center;
	padding: 1em 1em 6em 1em;
	flex: 1 1 400px;
}

/* links within nav */
nav a {
	color: var(--main-btn);
	border-radius: 0.2em;
	border: 2px var(--main-btn) solid;
	max-width: 8em;
	text-align: center;
	text-decoration: none;
	padding: 1em;
	display: flex;
	align-items: center;
	font-weight: 700;
}

/* added to elements to style my html */
.hidden {
	display: none;
}

/* MEDIA QUERY */
@media (min-width: 620px) {
	header h1 {
		margin: 1em 0 0.5em 0;
	}
}
