/* FORM STYLING */

/* within the form */
fieldset {
	border: none;
}

/* within the fieldset */

/* questions */
legend {
	margin-bottom: 1.2em;
	font-size: 1.2em;
	line-height: 1.5em;
}

/* parent element of labels within fieldsets */
fieldset > div {
	display: flex;
	gap: 1em;
	width: 100%;
}

label {
	cursor: pointer;
	flex: 1;
	margin-bottom: 0.3em;
}

label:nth-child(2) {
	margin-bottom: 1.5em;
}

/* RADIO BUTTONS  */

input[type="radio"] {
	appearance: none;
	position: absolute;
}

input[type="radio"] + span {
	display: block;
	background: var(--background-color);
	border: solid 4px var(--heading-button-symbol);
	border-radius: 0.4em;
	font-weight: 700;
	padding: 0.5em 1em;
	transition: 0.1s ease-in-out;
	text-align: center;
}

.scale {
	margin-bottom: 1.2em;
	display: flex;
}

.scale input[type="radio"] + span {
	padding: 0;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="radio"] + span:hover {
	opacity: 70%;
	transition: 0.2s ease-in-out;
}

/* when radio button is checked */
input:checked + span {
	background-color: var(--input-button-bg-selected);
	border: solid 4px var(--main-button-bg);
}

input[type="text"] {
	padding: 0.5em 1em;
}
