/* HOVER STATES */
#color__mode:hover {
	background-color: var(--btn-hover);
}

.buttons a:hover {
	background-color: var(--btn-hover);
}

nav a:hover {
	color: var(--btn-hover);
	border: 2px solid var(--btn-hover);
}
