:root {
	--button-padding: 0.6em 2em;
	--button-radius: 0.2em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text-color);
}

body {
	background: var(--bg-gradient) no-repeat center center fixed;
	font-family: 'Lato', sans-serif;
	transition: 0.2s ease-in-out;
	background-image: var(--bg-gradient);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 40em;
	margin: 0 auto;
	font-size: 1em;
}

hr {
	margin: 2em 0;
}

em {
	color: var(--text);
}

/* headings */
/* h1 */
header {
	display: flex;
	justify-content: center;
	padding: 2em;
}

/* form with footer in it */
main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	background-color: var(--bg-color);
	border-radius: 0.5em;
	box-shadow: 0 0 20px rgb(15, 44, 48);
	max-width: 95%;
	margin: 0 auto 5em auto;
}

/* extra text on top of the screen underneath h2 */
form > section > p {
	margin-top: 1em;
}

/* fieldset */
fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	/* margin: 0.5em 0 2em 0; */
	margin-top: 1.5em;
}

/* questions */
fieldset > legend {
	background-color: var(--legend-bg);
	padding: 0.5em;
	border-radius: 0.2em 0.2em 0 0 !important;
	color: var(--dark-text);
	width: 100%;
}

textarea {
	border-radius: 0 0 0.2em 0.2em;
	width: 100%;
}

/* other labels/questions */
fieldset > label {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
}

/* index.hmtl labels */
.index fieldset > label {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	margin: 0.7em 0;
}

table {
	display: flex;
	justify-content: center;
}

table > tbody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 98%;
}

table > tbody > tr:last-of-type {
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0 0.5em 0;
}

table > tbody > tr:first-of-type {
	display: flex;
	justify-content: space-between;
	margin: 0.7em 0 0em 0;
}

/* step number */
footer {
	display: flex;
	justify-content: center;
}

/* previous next button container */
form > div:last-of-type {
	display: flex;
	justify-content: center;
	margin: 2em 0 1em 0;
	/* max-width: 100%;
	margin: 0 auto; */
	gap: 1.5em;
}

/* previous button */
form > div:last-of-type > a {
	padding: var(--button-padding);
	background-color: var(--secondary-color);
	border-radius: var(--button-radius);
	color: var(--button-text);
	font-size: 1rem;
	text-align: center;
	width: 8em;
}

/* next button */
form > div:last-of-type > .button,
form > div:last-of-type > button {
	padding: var(--button-padding);
	border: none;
	background-color: var(--primary-color);
	border-radius: var(--button-radius);
	color: var(--button-text);
	cursor: pointer;
	font-size: 1rem;
	text-align: center;
	width: 8em;
}

/* input types */
input[type='text'],
input[type='email'] {
	margin-top: 0.7em;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	border: 1px var(--input-text-border) solid;
	max-width: 100%;
	width: 15em;
	background-color: var(--input-text);
}

input[type='email'] {
	max-width: 20em;
}

/* textarea */
textarea {
	background-color: var(--input-text) !important;
	border: none;
	padding: 0.8em 1em;
	border: 1px var(--input-text-border) solid;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}

/* radio buttons */
input[type='radio'] {
	appearance: none;
	position: absolute;
}

input[type='radio'] + span {
	display: block;
	/* background: blue; */
	border: solid 1px var(--input-text-border);
	border-radius: 0.4em;
	font-weight: 700;
	padding: 0.2em 1em;
	transition: 0.1s ease-in-out;
	text-align: center;
	cursor: pointer;
}

/* back button */
a {
	text-decoration: none;
}

/* error message */
/* .error {
} */

/* hide html styling when css is on */
.hidden {
	display: none;
}

/* colorschemes */
@media screen and (prefers-color-scheme: light) {
	:root {
		/* light mode */
		--bg-gradient: linear-gradient(to bottom right, #e76f51, #e9c46a);
		--bg-color: #ffffff;
		--text-color: #040301;
		--primary-color: #f8ad62;
		--secondary-color: #ffd2a8;
		--accent-color: #f8ad62;
		--button-text: #000000;
		--input-text: #1b272f;
		--input-text-border: #2a998d;
		--input-text-border-active: #0bffe5;
		--input-text-valid: #1b2f1c;
		--input-text-border-valid: #2cab00;
		--input-text-border-valid-active: #70ff00;
		--input-text-fail: #2f1b1b;
		--input-text-border-fail: #ab0000;
		--input-text-border-fail-active: #ff0000;
		--dark-text: #000000;
		--legend-bg: #f8ad62;
	}

	/* body:has(#colormode:checked) {
		--bg-color: #0f1b24;
	} */
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		/* darkmode */
		--bg-gradient: linear-gradient(to bottom right, #263853, #2a9d8f);
		--bg-color: #0f1b24;
		--text-color: #ffffff;
		--primary-color: #f8ad62;
		--secondary-color: #ffd2a8;
		--accent-color: #f8ad62;
		--button-text: #000000;
		--input-text: #1b272f;
		--input-text-border: #2a998d;
		--input-text-border-active: #0bffe5;
		--input-text-valid: #1b2f1c;
		--input-text-border-valid: #2cab00;
		--input-text-border-valid-active: #70ff00;
		--input-text-fail: #2f1b1b;
		--input-text-border-fail: #ab0000;
		--input-text-border-fail-active: #ff0000;
		--dark-text: #000000;
		--legend-bg: #5fc5b9;
	}

	/* body:has(#colormode:checked) {
		--bg-color: #ffffff;
	} */
}

@media only screen and (max-width: 535px) {
	table > tbody > tr:first-of-type {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		display: grid;
	}
}

@media only screen and (max-width: 535px) {
	table > tbody > tr:first-of-type {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		display: grid;
	}
}
