:root {
	--button-padding: 0.6em 2em;
	--button-radius: 0.2em;
	/* light mode */
	--bg-gradient: linear-gradient(to bottom right, #e76f51, #e9c46a);
	--bg-color: #ffffff;
	--text-color: #040301;
	--primary-color: #f8ad62;
	--secondary-color: #ffd2a8;
	--accent-color: #f8ad62;
	--button-text: #000000;
	--input-text: rgb(253, 238, 221);
	--input-text-border: #e48d36;
	--input-text-border-active: #0bffe5;
	--input-text-valid: #1b2f1c;
	--input-text-border-valid: #2cab00;
	--input-text-border-valid-active: #70ff00;
	--input-text-fail: #2f1b1b;
	--input-text-border-fail: #ab0000;
	--input-text-border-fail-active: #ff0000;
	--dark-text: #000000;
	--legend-bg: #f8ad62;
	--error: #ff0000;
	--radio-bg: #523921;
	--light-color: #ffffff;
	--focus-color: #d1873e;
	--text-hover: #fdca9a;
	--table-color: #ffffffa6;
	--button-hover: #c25700;
	--button-active: #40352a;
	--button-hover-text: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text-color);
	outline: transparent;
}

body {
	background: var(--bg-gradient) no-repeat center center fixed;
	font-family: 'Lato', sans-serif;
	transition: 0.2s ease-in-out;
	background-image: var(--bg-gradient);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 40em;
	margin: 0 auto;
	font-size: 1em;
}

hr {
	margin: 2em 0;
}

em {
	color: var(--text);
}

/* headings */
/* h1 */
header {
	display: flex;
	justify-content: center;
	padding: 2em;
}

/* form with footer in it */
main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	background-color: var(--bg-color);
	border-radius: 0.5em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.507);
	max-width: 95%;
	margin: 0 auto 5em auto;
}

main > p {
	margin-top: 1em;
}

/* extra text on top of the screen underneath h2 */
form > section > p {
	margin-top: 1em;
	font-size: 1em;
}

/* fieldset */
fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	/* margin: 0.5em 0 2em 0; */
	margin-top: 1.5em;
}

/* questions */
fieldset > legend {
	/* background-color: var(--legend-bg); */
	padding: 0.2em 0;
	border-radius: 0.2em 0.2em 0 0 !important;
	color: var(--light-text);
	width: 100%;
}

textarea {
	margin-top: 0.7em;
	border-radius: 0 0 0.2em 0.2em;
	width: 100%;
}

/* other labels/questions */
fieldset > label {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
}

/* index.hmtl labels */
.index fieldset > label {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	margin: 0.7em 0;
}

table {
	display: flex;
	justify-content: center;
}

table > tbody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 98%;
}

/* good / bad */
table > tbody > tr:last-of-type {
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0 0.5em 0;
}

table > tbody > tr:last-of-type > td {
	color: var(--table-color);
}

/* scale */
table > tbody > tr:first-of-type {
	display: flex;
	justify-content: space-between;
	margin: 0.7em 0 0em 0;
}

/* step number */
footer {
	display: flex;
	justify-content: center;
}

/* previous next button container */
form > div:last-of-type {
	display: flex;
	justify-content: center;
	margin: 2em 0 1em 0;
	/* max-width: 100%;
	margin: 0 auto; */
	gap: 1.5em;
}

/* previous button */
form > div:last-of-type > a {
	padding: var(--button-padding);
	background-color: var(--secondary-color);
	border-radius: var(--button-radius);
	color: var(--button-text);
	font-size: 1rem;
	text-align: center;
	width: 8em;
}

/* next button */
form > div:last-of-type > .button,
form > div:last-of-type > button {
	padding: var(--button-padding);
	border: none;
	background-color: var(--primary-color);
	border-radius: var(--button-radius);
	color: var(--button-text);
	cursor: pointer;
	font-size: 1rem;
	text-align: center;
	width: 8em;
}

/* input types */
input[type='text'],
input[type='email'] {
	margin-top: 0.7em;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	border: 1px var(--input-text-border) solid;
	max-width: 100%;
	width: 15em;
	background-color: var(--input-text);
}

input[type='email'] {
	max-width: 20em;
}

/* textarea */
textarea {
	background-color: var(--input-text) !important;
	border: none;
	padding: 0.8em 1em;
	border: 1px var(--input-text-border) solid;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	outline: none;
}

/* radio buttons */
input[type='radio'] {
	appearance: none;
	position: absolute;
}

input[type='radio'] + span {
	display: block;
	/* background: blue; */
	border: solid 1px var(--input-text-border);
	border-radius: 0.4em;
	font-weight: 700;
	padding: 0.2em 1em;
	transition: 0.1s ease-in-out;
	text-align: center;
	cursor: pointer;
}

/* psuedo classes */

/* hovers */

input[type='radio'] + span:hover,
textarea:hover,
input[type='text']:hover,
input[type='email']:hover {
	background-color: var(--text-hover) !important;
	border: 1px solid var(--primary-color);
	transition: 0.1s ease-in-out;
}

/* previous button */
/* next button */
form > div:last-of-type > a:hover,
form > div:last-of-type > .button:hover,
form > div:last-of-type > button:hover {
	background-color: var(--button-hover);
	color: var(--button-hover-text);
	transition: ease-in-out 0.2s;
}

/* focus keyboard */
input[type='radio']:focus + span,
textarea:focus,
input[type='text']:focus,
input[type='email']:focus {
	background-color: var(--input-text);
	border: 1px solid var(--primary-color);
}

/* invalid */
input[type='radio']:focus:invalid + span,
input[type='text']:focus:invalid,
input[type='email']:focus:invalid {
	background-color: red !important;
}

/* checked,valid */
input[type='radio']:checked + span,
textarea:valid,
input[type='text']:valid,
input[type='email']:valid {
	background-color: var(--input-text-border) !important;
}

input[type='text']::after,
input[type='email']::after {
	content: 'it works';
	color: white !important;
}

/* input:focus + span,
input[type='text']:focus,
input[type='email']:focus {
	background-color: var(--focus-color);
	border: solid 1px var(--focus-color);
}

input:checked + span {
	background-color: var(--input-text-border);
	border: solid 1px var(--input-text-border);
}

textarea:focus,
textarea:hover,
input[type='text']:hover,
input[type='email']:hover {
	background-color: var(--text-hover) !important;
	border: 1px solid var(--primary-color);
}

textarea:valid,
input[type='text']:valid,
input[type='email']:valid {
	background-color: var(--input-text-border) !important;
	border: solid 1px var(--input-text-border);
} */

::placeholder {
	color: var(--placeholder);
}

/* back button */
a {
	text-decoration: none;
}

.error {
	color: var(--error);
}

/* hide html styling when css is on */
.hidden {
	display: none;
}

/* colorschemes */
/* @media screen and (prefers-color-scheme: light) {
	:root { */
/* light mode */
/* --bg-gradient: linear-gradient(to bottom right, #e76f51, #e9c46a);
		--bg-color: #ffffff;
		--text-color: #040301;
		--primary-color: #f8ad62;
		--secondary-color: #ffd2a8;
		--accent-color: #f8ad62;
		--button-text: #000000;
		--input-text: #1b272f;
		--input-text-border: #2a998d;
		--input-text-border-active: #0bffe5;
		--input-text-valid: #1b2f1c;
		--input-text-border-valid: #2cab00;
		--input-text-border-valid-active: #70ff00;
		--input-text-fail: #2f1b1b;
		--input-text-border-fail: #ab0000;
		--input-text-border-fail-active: #ff0000;
		--dark-text: #000000;
		--legend-bg: #f8ad62;
		--error: #ff0000;
		--radio-bg: #523921;
	} */

/* body:has(#colormode:checked) {
		--bg-color: #0f1b24;
	} */
/* } */

@media screen and (prefers-color-scheme: dark) {
	:root {
		/* darkmode */
		--bg-gradient: linear-gradient(to bottom right, #263853, #2a9d8f);
		--bg-color: #0f1b24;
		--text-color: #ffffff;
		--primary-color: #f8ad62;
		--secondary-color: #ffd2a8;
		--accent-color: #f8ad62;
		--button-text: #000000;
		--input-text: #1b272f;
		--input-text-border: #1b8379;
		--input-text-border-active: #0bffe5;
		--input-text-valid: #1b2f1c;
		--input-text-border-valid: #2cab00;
		--input-text-border-valid-active: #70ff00;
		--input-text-fail: #2f1b1b;
		--input-text-border-fail: #ab0000;
		--input-text-border-fail-active: #ff0000;
		--dark-text: #000000;
		--legend-bg: #5fc5b9;
		--error: #ff0000;
		--radio-bg: #523921;
		--light-color: #ffffff;
		--placeholder: #ffffffa6;
		--focus-color: #d1873e;
		--text-hover: #523921;
		--table-color: #3bcabc;
		--button-hover: #c25700;
		--button-active: #40352a;
		--button-hover-text: white;
	}

	/* body:has(#colormode:checked) {
		--bg-color: #ffffff;
	} */
}

@media only screen and (max-width: 535px) {
	table > tbody > tr:first-of-type {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		display: grid;
	}
}

@media only screen and (max-width: 535px) {
	table > tbody > tr:first-of-type {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		display: grid;
	}
}
